<%- include("partials/header", { title: "Home" }) %>

    <div class="Space">
        <h1 class="Title">Youtube Downloader</h1>
        <br>
        <h3>Baixa seus videos favoritos do Youtube aqui <a href="https://www.youtube.com/channel/UCwxPW9tHCSCDII5FgVC5AKg">Taylor</a>
            Entre e venha conhecer a nossa comunidade <a href="https://discord.gg/yTMyzgGpJp">Discord</a>.</h3>
        <br>
        <h3>Selecione o que deseja baixar:</h3>
            <a href="/download/playlist">
                <button class="primaryButton">Download Playlist</button>
            </a>
            <a href="/download/video">
                <button class="primaryButton">Download Video</button>
            </a>
    </div>

<%- include("partials/footer") %>
